.u-width100Pct {
    width: 100% !important;
}

.u-maxWidth100Pct {
    max-width: 100% !important;
}

.u-maxWidth80Pct {
    max-width: 80% !important;
}

.u-maxWidth700 {
    max-width: 700px !important;
}

.u-floatRight {
    float: right!important;
}

.u-marginLeft20 {
    margin-left: 20px!important;
}

.u-tableCell {
    display: table-cell!important;
}

.u-size16x16 {
    width: 16px!important;
    height: 16px!important;
}

.u-size10x10 {
    width: 10px!important;
    height: 10px!important;
}

.u-size50x50 {
    width: 60px!important;
    height: 60px!important;
}

.u-size60x60 {
    width: 60px!important;
    height: 60px!important;
}

.u-margin10 {
    margin: 10px!important;
}

.u-margin20 {
    margin: 20px!important;
}

.u-marginTop5 {
    margin-top: 5px!important;
}

.u-marginTop10 {
    margin-top: 10px!important;
}

.u-marginBottom10 {
    margin-bottom: 10px!important;
}

.u-marginTopBottom10 {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.u-marginTopBottom20 {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}

.u-marginLeft0 {
    margin-left: 0px!important;
}

.u-marginRight20 {
    margin-right: 0px !important;
}

.u-padding0 {
    padding: 0px !important;
}

.u-padding20 {
    padding: 20px !important;
}

.u-paddingTop0 {
    padding-top: 0px !important;
}

.u-paddingTop5 {
    padding-top: 5px !important;
}

.u-paddingTop10 {
    padding-top: 10px !important;
}

.u-paddingTopBottom10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.u-paddingBottom10 {
    padding-bottom: 10px !important;
}

.u-paddingBottom15 {
    padding-bottom: 15px !important;
}

.u-paddingLeftRight20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.u-colorLightGrey {
    color: rgba(0,0,0,.44) !important
}

.u-colorDarkGrey {
    color: rgba(0,0,0,.8) !important
}

.u-fontWeight400 {
    font-weight: 400 !important
}

.u-fontSize12px {
    font-size: 12px !important
}

.u-fontSize10px {
    font-size: 10px !important
}

.u-borderWidth0 {
    border-width: 0px !important;
}

.u-borderRadius4 {
    border-radius: 4px !important;
}
.u-borderRadius100Pct {
    border-radius: 100% !important;
}

.u-borderBottom0 {
    border-bottom: 0px !important;
}

.u-borderBottom {
    border-bottom: 1px solid rgba(0,0,0, .05) !important
}

.u-borderLeft {
    border-left: 1px solid rgba(0,0,0, .05) !important
}

.u-borderTopWhite {
    border-top: 1px solid #fff !important
}

.u-borderBottomWhite {
    border-bottom: 1px solid #fff !important
}

.u-noBorderBottom {
    border-bottom: 0px !important
}

.u-borderBottom--colorDarkGrey {
    border-bottom: 1px solid rgba(0,0,0,.8) !important
}

.u-border-colorDarkGrey {
    border: 1px solid rgba(0,0,0,.8) !important
}

.u-colorLightGreen {
    color: #1abc9c !important
}

.u-colorDarkGreen {
    color: #16a085 !important
}

.u-colorLightRed {
    color: #e74c3c !important
}

.u-colorDarkRed {
    color: #c0392b !important
}

.u-backgroundColorYellow {
    background-color: #f1c40f !important
}

.u-backgroundLightGrey {
    background: rgba(0,0,0,.44) !important
}

.u-fontSize11 {
    font-size: 11px!important
}

.u-fontSize12 {
    font-size: 12px!important
}

.u-fontSize13 {
    font-size: 13px!important
}

.u-fontSize14 {
    font-size: 14px!important
}

.u-fontSize16 {
    font-size: 16px!important
}

.u-fontSize18 {
    font-size: 18px!important
}

.u-fontSize20 {
    font-size: 20px!important
}

.u-fontSize22 {
    font-size: 22px!important
}

.u-fontSize24 {
    font-size: 24px!important
}

.u-fontSize28 {
    font-size: 28px!important
}

.u-fontSize32 {
    font-size: 32px!important
}

.u-fontSize36 {
    font-size: 36px!important
}

.u-fontSize40 {
    font-size: 40px!important
}

.u-fontSize44 {
    font-size: 44px!important
}

.u-fontSize48 {
    font-size: 48px!important
}

.u-fontSize50 {
    font-size: 50px!important
}

.u-fontSize60 {
    font-size: 60px!important
}

.u-fontSize75 {
    font-size: 75px!important
}

.u-fontSize200 {
    font-size: 200px!important
}

@media screen and (max-width:991px) {
    .u-sm-fontSize150 {
        font-size: 150px!important
    }
}

@media screen and (max-width:767px) {
    .u-xs-fontSize10 {
        font-size: 10px!important
    }
    .u-xs-fontSize12 {
        font-size: 12px!important
    }
    .u-xs-fontSize16 {
        font-size: 16px!important
    }
    .u-xs-fontSize18 {
        font-size: 18px!important
    }
    .u-xs-fontSize22 {
        font-size: 22px!important
    }
    .u-xs-fontSize24 {
        font-size: 24px!important
    }
    .u-xs-fontSize32 {
        font-size: 32px!important
    }
    .u-xs-fontSize36 {
        font-size: 36px!important
    }
    .u-xs-fontSize40 {
        font-size: 40px!important
    }

    .u-xs-hide {
        display: none
    }
}

.u-fontWeightThin {
    font-weight: 300!important
}

.u-fontWeightNormal {
    font-weight: 400!important
}

.u-fontWeightMedium {
    font-weight: 500!important
}

.u-fontWeightSemibold {
    font-weight: 600!important
}

.u-fontWeightBold {
    font-weight: 700!important
}

.u-lineHeightHalf {
    line-height: .5!important
}

.u-lineHeightBase {
    line-height: 1.4!important
}

.u-lineHeightBaseSans {
    line-height: 1.3!important
}

.u-lineHeightTight {
    line-height: 1.2!important
}

.u-lineHeightTighter {
    line-height: 1.1!important
}

.u-lineHeightTightest {
    line-height: 1!important
}

.u-lineHeightLoose {
    line-height: 1.6!important
}

.u-lineHeight13 {
    line-height: 13px!important
}

.u-lineHeight18 {
    line-height: 18px!important
}

.u-lineHeight30 {
    line-height: 30px!important
}

.u-lineHeight32 {
    line-height: 32px!important
}

.u-lineHeight35 {
    line-height: 35px!important
}

.u-lineHeight36 {
    line-height: 36px!important
}

.u-lineHeight40 {
    line-height: 40px!important
}

.u-lineHeight44 {
    line-height: 44px!important
}

.u-lineHeight100 {
    line-height: 100px!important
}

.u-lineHeightInherit {
    line-height: inherit!important
}

@media screen and (max-width:991px) {
    .u-sm-lineHeight44 {
        line-height: 44px!important
    }
}

@media screen and (max-width:767px) {
    .u-xs-lineHeight22 {
        line-height: 22px!important
    }
}

.u-letterSpacing003 {
    letter-spacing: .03em!important
}

.u-letterSpacingTight {
    letter-spacing: -.02em!important
}

.u-letterSpacingTighter {
    letter-spacing: -.04em!important
}

.u-letterSpacingNormal {
    letter-spacing: 0!important
}

.u-letterSpacingLoose {
    letter-spacing: .1em!important
}

.u-textAlignCenter {
    text-align: center!important
}

.u-textAlignRight {
    text-align: right!important
}

.u-textAlignLeft {
    text-align: left!important
}

@media (max-width:767px) {
    .u-xs-textAlignLeft {
        text-align: left!important
    }
    .u-xs-textAlignRight {
        text-align: right!important
    }
    .u-xs-textAlignCenter {
        text-align: center!important
    }
}