<div class="smpscss-smedian-actions-menu js-SmedianPageComponentActionsMenu" style="display:none">
  <a class="smpscss-clean-button smpscss-clean-button--plain js-SmedianPageComponentActionsMenu-closeButton" 
    style="position: absolute; top: 10px; right:10px; font-size: 24px" title="Close Smedian Menu">
      <b>×</b>
  </a>
  <ul class="smpscss-cards">
    <li class="smpscss-card">
      <h3 class="smpscss-heading--bold" target="_blank">
        <a target="_blank" href="/pages" style="text-decoration: none; color: initial;">
          <img src="/img/logo.png" style="width: 24px; display:inline">
          <span style="line-height:24px">Smedian Page</span>
        </a>
      </h3>
    </li>
    <li class="smpscss-card" ng-if="page.currentUserIsPageAdmin">
      <a class="smpscss-clean-button smpscss-clean-button--plain" target="_blank"
        ng-href="/writer/{{page.masterObjectId}}/profile" ng-if="page.masterObjectType == 'user'">
        My Profile
      </a>
      <a class="smpscss-clean-button smpscss-clean-button--plain" target="_blank"
        ng-href="/p/{{page.masterObjectId}}?settings=1" ng-if="page.masterObjectType == 'pub'">
        Publication Dashboard
      </a>
    </li>
    <li class="smpscss-card" ng-if="page.currentUserIsPageAdmin">
      <a class="smpscss-clean-button smpscss-clean-button--plain" target="_blank"
        ng-href="/page/{{page.id}}/_/admin">
        Edit Page
      </a>
    </li>
    <li class="smpscss-card" ng-if="page.currentUserIsPageAdmin">
      <a class="smpscss-clean-button smpscss-clean-button--plain" target="_blank"
        ng-href="/vendor_node/smedian-pages/{{page.masterObjectType}}/{{page.masterObjectId}}" ng-if="page.currentUserIsPageAdmin">
        All My Pages
      </a>
    </li>

    <li class="smpscss-card" ng-if="!page.currentUserIsPageAdmin && page.masterObjectType == 'user'">
      <a class="smpscss-clean-button smpscss-clean-button--plain" target="_blank"
        ng-href="/chat/{{page.masterObject.chatInviteUrl}}">
        Chat With {{page.masterObject.name || page.masterObject.username}}
      </a>
    </li>
    <li class="smpscss-card" ng-if="currentUser && !page.currentUserIsPageAdmin">
      <a class="smpscss-clean-button smpscss-clean-button--plain" target="_blank"
        ng-href="/vendor_node/smedian-pages/user/{{currentUser.id}}">
        <span ng-if="currentUser.homePageId">All My Pages</span>
        <span ng-if="!currentUser.homePageId">Make Mine</span>
      </a>
    </li>
    <li class="smpscss-card" ng-if="!page.currentUserIsPageAdmin">
      <a class="smpscss-clean-button smpscss-clean-button--plain" target="_blank"
        ng-href="/pages">
        <span ng-if="!currentUser.homePageId">Make Mine</span>
      </a>
    </li>
  </ul>
</div>
<button id="smedian-page-services--cu-badge-container" class="smpscss-actions-badge js-SmedianPageComponentActionsMenu-openButton">
  <span ng-show="!currentUser" style="padding-bottom: 5px;">
    <img src="/img/logo.png" style="width: 16px;">
  </span>
  <span ng-show="currentUser">
    <img style="width:32px; height: 32x; border-radius: 100%;" ng-src="{{currentUser.imageUrl}}">
    <img src="/img/logo.png" style="width: 12px; height: 12px;position: relative; bottom: 10px;right: -20px;">
  </span>
  <div style="color:red; font-size:8px" ng-show="isPreviewPage">
    <b>PREVIEW</b>
  </div>
</button>