<div class="smpscss-actions-menu js-SmedianPageComponentActionsMenu" style="display:none">
  <a class="smpscss-clean-button smpscss-clean-button--plain js-SmedianPageComponentActionsMenu-closeButton" 
    style="position: absolute; top: 10px; right:10px; font-size: 24px" title="Close Smedian Menu">
      <b>×</b>
  </a>
  <ul class="smpscss-cards">
    <li class="smpscss-card">
      <h3 class="smpscss-heading--bold" target="_blank">
        <a target="_blank" href="/pages" style="text-decoration: none; color: initial;">
          <img src="/img/logo.png" style="width: 24px; display:inline">
          <span style="line-height:24px">Smedian Page</span>
        </a>
      </h3>
    </li>
    <li class="smpscss-card">
      <a class="smpscss-clean-button smpscss-clean-button--plain js-SmedianPageComponentActionsMenu-masterUserProfileLink" style="display:none" target="_blank"></a>
      <a class="smpscss-clean-button smpscss-clean-button--plain js-SmedianPageComponentActionsMenu-masterPubProfileLink" style="display:none" target="_blank"></a>
    </li>
    <li class="smpscss-card js-SmedianPageComponentActionsMenu-showOnlyAdmin" style="display:none">
      <a class="smpscss-clean-button smpscss-clean-button--plain js-SmedianPageComponentActionsMenu-adminEditPageLink" target="_blank">Edit Page</a>
    </li>
    <li class="smpscss-card js-SmedianPageComponentActionsMenu-showOnlyAdmin" style="display:none">
      <a class="smpscss-clean-button smpscss-clean-button--plain js-SmedianPageComponentActionsMenu-adminAllPagesLink" target="_blank">All My Pages</a>
    </li>
    <li class="smpscss-card js-SmedianPageComponentActionsMenu-containerChatLink" style="display:none">
      <a class="smpscss-clean-button smpscss-clean-button--plain js-SmedianPageComponentActionsMenu-chatLink" target="_blank"></a>
    </li>
    <li class="smpscss-card js-SmedianPageComponentActionsMenu-containerMyPagesLink" style="display:none">
      <a class="smpscss-clean-button smpscss-clean-button--plain js-SmedianPageComponentActionsMenu-myPagesLink" target="_blank"></a>
    </li>
  </ul>
</div>
<button id="smedian-page-services--cu-badge-container" class="smpscss-actions-badge js-SmedianPageComponentActionsMenu-openButton">
  <span class="js-SmedianPageComponentActionsMenu-nonCurrentUserAvatarContainer" style="padding-bottom: 5px; display: none">
    <img src="/img/logo.png" style="width: 16px;">
  </span>
  <span class="js-SmedianPageComponentActionsMenu-currentUserAvatarContainer" style="display:none">
    <img class="js-SmedianPageComponentActionsMenu-currentUserAvatar" style="width:32px; height: 32x; border-radius: 100%;">
    <img src="/img/logo.png" style="width: 12px; height: 12px;position: relative; bottom: 10px;right: -20px;">
  </span>
  <div class="js-SmedianPageComponentActionsMenu-pagePreviewLabel" style="color:red; font-size:8px; display: none">
    <b>PREVIEW</b>
  </div>
</button>