<div style="margin-top: -10px;">
  <div class="navbar w-nav" data-animation="default" data-collapse="all" data-duration="400">
    <div class="w-container">
      <a class="brand-link w-nav-brand" ng-href="http://smedian.com/writer/{{currentUser.id}}">
        <h1 class="logo">{{templateData.navigationBarLogo.text}}</h1>
      </a>
    </div>
  </div>
  <div class="slider w-slider" data-animation="fade" data-autoplay="1" data-delay="4000" data-duration="500" data-infinite="1">
    <div class="w-slider-mask">
      <div class="slide w-slide" style="background-image: {{templateData.heroSection.backgroundGradient.css}}, url('{{templateData.heroSection.backgroundImageUrl}}')">
        <div class="w-container">
          <div>
            <img class="hero-section-profile-image" 
              ng-show="templateData.heroSection.showProfileImage"
              ng-src="{{templateData.heroSection.profileImageUrl}}" style="max-width:175px">
            <div class="div-block">
              <h1 class="hero-title">{{templateData.heroSection.title}}</h1>
              <h2 class="hero-subtitle">{{templateData.heroSection.subtitle}}</h2>
            </div>
          </div>
          <div class="button-group">
            <a ng-show="templateData.heroSection.featuredStoriesButton.show" class="button button--hollow" 
              style="color: #{{templateData.heroSection.featuredStoriesButton.textColor.replace('#', '')}}; background-color: #{{templateData.heroSection.featuredStoriesButton.backgroundColor.replace('#','')}}; border-color: #{{templateData.heroSection.featuredStoriesButton.borderColor.replace('#','')}}"
              ng-click="scrollToFeaturedStoriesSection()">{{templateData.heroSection.featuredStoriesButton.text}}</a>
            <a ng-show="templateData.heroSection.contactButton.show" class="button button--hollow" 
              style="color: #{{templateData.heroSection.contactButton.textColor.replace('#', '')}}; background-color: #{{templateData.heroSection.contactButton.replace('#','')}}; border-color: #{{templateData.heroSection.contactButton.replace('#','')}}"
              ng-click="scrollToContactForm()">{{templateData.heroSection.contactButton.text}}</a>
            <a ng-show="templateData.heroSection.newsletterButton.show" class="button button--hollow" 
              style="color: #{{templateData.heroSection.newsletterButton.textColor.replace('#', '')}}; background-color: #{{templateData.heroSection.newsletterButton.replace('#','')}}; border-color: #{{templateData.heroSection.newsletterButton.replace('#','')}}"
              ng-click="scrollToNewsletterForm()">{{templateData.heroSection.newsletterButton.text}}</a>
          </div>
          <div class="hero-social-links">
            <span ng-repeat="socialLink in templateData.socialLinks">
              <a class="hero-social-link w-inline-block"
                ng-show="socialLink.showInHeroSection && socialLink.url.trim().length"
                ng-href="//{{socialLink.url.replace('https://', '').replace('http://', '')}}" target="_blank">
                <img ng-if="socialLink.type == 'medium'" class="hero-social-link--icon" ng-src="{{socialLinkImagePaths.medium}}" width="39">
                <img ng-if="socialLink.type == 'twitter'" class="hero-social-link--icon" ng-src="{{socialLinkImagePaths.twitter}}" width="39">
                <img ng-if="socialLink.type == 'linkedin'" class="hero-social-link--icon" ng-src="{{socialLinkImagePaths.linkedin}}" width="39">
                <img ng-if="socialLink.type == 'facebook'" class="hero-social-link--icon" ng-src="{{socialLinkImagePaths.facebook}}" width="39">
                <img ng-if="socialLink.type == 'instagram'" class="hero-social-link--icon" ng-src="{{socialLinkImagePaths.instagram}}" width="39">
                <img ng-if="socialLink.type == 'behance'" class="hero-social-link--icon" ng-src="{{socialLinkImagePaths.behance}}" width="39">
                <img ng-if="socialLink.type == 'dribbble'" class="hero-social-link--icon" ng-src="{{socialLinkImagePaths.dribbble}}" width="39">
                <img ng-if="socialLink.type == 'github'" class="hero-social-link--icon" ng-src="{{socialLinkImagePaths.github}}" width="39">
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-nav w-slider-nav"></div>
  </div>
  <div class="section" style="padding-bottom:30px">
    <div class="w-container">
      <div class="w-row">
        <div ng-show="templateData.aboutSection.showProfileImage" class="column w-col w-col-2">
          <img class="about-section-profile-image" 
            ng-src="{{templateData.aboutSection.profileImageUrl}}" width="185">
        </div>
        <div class="column-2 w-col w-col-10">
          <h2 class="section-title">{{templateData.aboutSection.title}}</h2>
          <h3 class="section-subtitle">{{templateData.aboutSection.subtitle}}</h3>
          <p>
            {{templateData.aboutSection.description}}
          </p>
          <div ng-show="templateData.aboutSection.showSkills" class="skill-group">
            <div ng-repeat="skill in templateData.aboutSection.skills">
              <div class="skill-background" style="background-color: #{{skill.backgroundColor.replace('#','')}}">
                <div class="skill" style="width: {{skill.levelOutOf100Pct || 100}}%; color: #{{skill.nameTextColor.replace('#', '')}}; background-color: #{{skill.barColor.replace('#','')}}">
                  {{skill.name}}
                </div>
                <p class="skill-description" style="color: #{{skill.descriptionTextColor.replace('#', '')}};">
                    {{skill.description}}
                </p>
              </div>
            </div>
          </div>
          <div class="about-social-links-copy">
            <span ng-repeat="socialLink in templateData.socialLinks">
              <a class="about-social-link w-inline-block"
                ng-show="socialLink.showInAboutSection && socialLink.url.trim().length"
                ng-href="//{{socialLink.url.replace('https://', '').replace('http://', '')}}" target="_blank">
                <img ng-if="socialLink.type == 'medium'" class="about-social-icon" ng-src="{{socialLinkImagePaths.medium}}" width="39">
                <img ng-if="socialLink.type == 'twitter'" class="about-social-icon" ng-src="{{socialLinkImagePaths.twitter}}" width="39">
                <img ng-if="socialLink.type == 'linkedin'" class="about-social-icon" ng-src="{{socialLinkImagePaths.linkedin}}" width="39">
                <img ng-if="socialLink.type == 'facebook'" class="about-social-icon" ng-src="{{socialLinkImagePaths.facebook}}" width="39">
                <img ng-if="socialLink.type == 'instagram'" class="about-social-icon" ng-src="{{socialLinkImagePaths.instagram}}" width="39">
                <img ng-if="socialLink.type == 'dribbble'" class="about-social-icon" ng-src="{{socialLinkImagePaths.dribbble}}" width="39">
                <img ng-if="socialLink.type == 'behance'" class="about-social-icon" ng-src="{{socialLinkImagePaths.behance}}" width="39">
                <img ng-if="socialLink.type == 'github'" class="about-social-icon" ng-src="{{socialLinkImagePaths.github}}" width="39">
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="featured-stories-section" ng-if="templateData.featuredStoriesSection.show && templateData.featuredStoriesSection.stories.length" class="projects section" id="projects" style="padding-top:40px">
    <div class="w-container">
      <div class="mobile-padding-wrapper">
        <h2 class="section-title">{{templateData.featuredStoriesSection.title || 'Featured Articles'}}</h2>
        <h3 class="section-subtitle">{{templateData.featuredStoriesSection.subtitle}}</h3>
      </div>
    </div>
    <div class="project-row w-clearfix">
      <a class="js-projectLink project-link third-width w-inline-block" target="_blank"
        ng-repeat="featuredStory in templateData.featuredStoriesSection.stories | orderBy:'position' "
        style="background-image: url('{{featuredStory.imageUrl}}'); background-position: 50% 50%;"
        ng-show="featuredStory.url.length >= 3"
        ng-href="//{{featuredStory.url.replace('https://', '').replace('http://', '')}}">
        <div class="js-projectWrapper project-wrapper">
          <h3>{{featuredStory.title}}</h3>
          <div class="story-subtitle">
            {{featuredStory.subtitle}}
          </div>
        </div>
      </a>
    </div>
  </div>
  <div id="newsletter-form-section" ng-show="templateData.showNewsletterForm" class="section section--newsletter">
    <div class="container-2 w-container">
      <h2 class="form-heading" style="margin-bottom:10px">{{templateData.newsletterForm.title || 'Get My Newsletters'}}</h2>
      <p class="subtitle--newsletter" style="color:rgba(0,0,0,0.66);">{{templateData.newsletterForm.description}}</p>
      <div class="form-wrapper w-form">
        <div ng-show="!newNewsletterSignup.lastSentEmail || newNewsletterSignup.lastSentEmail != newNewsletterSignup.email" name="email-form">
          <input ng-model="newNewsletterSignup.email" class="js-newsletterFormInput  field grey w-input" maxlength="256" name="email" placeholder="Email Address" required="required" type="email">
          <input ng-model="newNewsletterSignup.name" ng-show="templateData.newsletterForm.includeNameField"
          class="js-newsletterFormInput field field--border-bottom w-input" 
          style="border-color: #{{templateData.newsletterForm.submitButton.backgroundColor.replace('#','')}};"
          maxlength="256" name="Name" placeholder="Name" type="text">
          <button class="button w-button" 
            style="background-color: #{{templateData.newsletterForm.submitButton.backgroundColor.replace('#','')}};"
            ng-show="!newNewsletterSignup.sendingSubmission"
            ng-click="submitNewsletterSignup()">{{templateData.newsletterForm.submitButton.text}}</button>
        </div>
        <p ng-show="newNewsletterSignup.sendingSubmission" class="clean-text text-s">
          Sending ...
        </p>
        <div ng-show="newNewsletterSignup.lastSentEmail == newNewsletterSignup.email"  class="success-message" style="background:#fff">
          <h2 class="thank-you-title">{{templateData.newsletterForm.successTitle || 'Thanks for Contacting Us!'}}</h2>
          <p>
            {{templateData.newsletterForm.successText || 'We will respond as soon as possible.'}}
          </p>
          <br>
          <a class="button w-button" 
            ng-show="templateData.newsletterForm.successCTAUrl.length && templateData.newsletterForm.successCTAText.length"
            ng-href="//{{templateData.newsletterForm.successCTAUrl.replace('https://', '').replace('http://', '')}}" target="_blank">
            <span ng-bind="templateData.newsletterForm.successCTAText" class="button-label  button-defaultState js-buttonLabel">
            </span>
          </a>
          <img ng-show="templateData.newsletterForm.successImageUrl.length" ng-src="{{templateData.newsletterForm.successImageUrl}}" style="width:100%; max-height:700px; margin-top:10px">
        </div>
        <div ng-show="newNewsletterSignup.errorMessage" class="w-form-fail">
          <p>{{newNewsletterSignup.errorMessage}}</p>
        </div>
      </div>
    </div>
  </div>
  <div id="contact-form-section" ng-show="templateData.showContactForm" class="grey section" style="padding-top:50px">
    <div class="container-3 w-container">
      <div class="w-row">
        <div class="w-col w-col-4">
          <h2>{{templateData.contactForm.title || 'Contact Me'}}</h2>
          <p class="text-small-grey">{{templateData.contactForm.description}}</p>
        </div>
        <div class="w-col w-col-8">
          <div class="form-wrapper w-form">
            <div ng-show="!newContactFormSubmission.sentEmail" name="email-form">
              <input ng-model="newContactFormSubmission.from" class="js-contactFormInput  field w-input" maxlength="256" name="email" placeholder="Email Address" required="required" type="email">
              <input ng-model="newContactFormSubmission.subject" ng-show="templateData.contactForm.includeSubjectField" placeholder="{{templateData.contactForm.subjectFieldPlaceholder || 'Subject'}}" class="js-contactFormInput field grey w-input"maxlength="256" name="Subject-2" type="text">
              <textarea ng-model="newContactFormSubmission.message" placeholder="{{templateData.contactForm.messageFieldPlaceholder || 'Message'}}" 
                class="js-contactFormInput field field--border-bottom textarea w-input" 
                style="border-color: #{{templateData.contactForm.submitButton.backgroundColor.replace('#','')}};"
                maxlength="5000" name="description" required="required"></textarea>
              <input class="button w-button" value="Send inquiry"
                style="background-color: #{{templateData.contactForm.submitButton.backgroundColor.replace('#','')}};"
                ng-show="!newContactFormSubmission.sendingSubmission"
                ng-click="sendContactFormSubmission()">
            </div>
            <p ng-show="newContactFormSubmission.sendingSubmission" class="clean-text text-s">
              Sending ...
            </p>
            <div ng-show="newContactFormSubmission.sentEmail" class="success-message" style="background: #fff">
              <h2 class="thank-you-title">{{templateData.contactForm.successTitle || 'Thanks for Contacting Us!'}}</h2>
              <p>
                {{templateData.contactForm.successText || 'We will respond as soon as possible.'}}
              </p>
              <br>
              <a class="clean-button clean-button--small clean-button--green u-marginLeft0"
                ng-show="templateData.contactForm.successCTAUrl.length && templateData.contactForm.successCTAText.length"
                ng-href="//{{templateData.contactForm.successCTAUrl.replace('https://', '').replace('http://', '')}}" target="_blank">
                <span ng-bind="templateData.contactForm.successCTAText" class="button-label  button-defaultState js-buttonLabel">
                </span>
            </a>
            <img ng-show="templateData.contactForm.successImageUrl.length" ng-src="{{templateData.contactForm.successImageUrl}}" style="width:100%; max-height:700px; margin-top:10px">
            </div>
            <div ng-show="newContactFormSubmission.errorMessage" class="w-form-fail">
              <p>{{newContactFormSubmission.errorMessage}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer section" style="color: #{{templateData.footerSection.textColor.replace('#','')}}; background-color: #{{templateData.footerSection.backgroundColor.replace('#','')}}; background-image: url('{{templateData.footerSection.backgroundImageUrl}}'); background-size: cover; background-position: 50% 50%;">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4">
            <div class="footer-logo" style="color: #{{templateData.footerSection.textColor.replace('#','')}};">{{templateData.footerSection.title}}</div>
        </div>
        <div class="social-footer-wrap w-col w-col-8">
          <span ng-repeat="socialLink in templateData.socialLinks">
            <a class="footer-social-link w-inline-block"
              ng-show="socialLink.showInFooterSection && socialLink.url.trim().length"
              ng-href="//{{socialLink.url.replace('https://', '').replace('http://', '')}}" target="_blank">
              <img ng-if="socialLink.type == 'medium'" class="footer-social-icon" ng-src="{{socialLinkImagePaths.medium}}" width="39">
              <img ng-if="socialLink.type == 'twitter'" class="footer-social-icon" ng-src="{{socialLinkImagePaths.twitter}}" width="39">
              <img ng-if="socialLink.type == 'linkedin'" class="footer-social-icon" ng-src="{{socialLinkImagePaths.linkedin}}" width="39">
              <img ng-if="socialLink.type == 'facebook'" class="footer-social-icon" ng-src="{{socialLinkImagePaths.facebook}}" width="39">
              <img ng-if="socialLink.type == 'instagram'" class="footer-social-icon" ng-src="{{socialLinkImagePaths.instagram}}" width="39">
              <img ng-if="socialLink.type == 'dribbble'" class="footer-social-icon" ng-src="{{socialLinkImagePaths.dribbble}}" width="39">
              <img ng-if="socialLink.type == 'behance'" class="footer-social-icon" ng-src="{{socialLinkImagePaths.behance}}" width="39">
              <img ng-if="socialLink.type == 'github'" class="footer-social-icon" ng-src="{{socialLinkImagePaths.github}}" width="39">
            </a>
          </span>  
        </div>
      </div>
    </div>
    <div class="container w-container">
      <div class="row w-row">
        <div class="w-col w-col-4">
          <ul class="footer-links-list w-list-unstyled">
            <li class="footer-links-list-item"><a class="footer-link w-inline-block" style="color: #{{templateData.footerSection.textColor.replace('#','')}};" href="http://smedian.com/pages"><img class="footer-link--image" height="32" src="images/logo.png" width="32"><div class="footer-link--text">Built With Smedian Pages</div></a></li>
            <li class="footer-links-list-item"><a class="footer-link w-inline-block" style="color: #{{templateData.footerSection.textColor.replace('#','')}};" href="http://smedian.com/pubs"><img class="footer-link--image" height="32" src="images/logo.png" width="32"><div class="footer-link--text">Smedian Publications</div></a></li>
            <li class="footer-links-list-item"><a class="footer-link w-inline-block" style="color: #{{templateData.footerSection.textColor.replace('#','')}};" href="http://smedian.com/writers"><img class="footer-link--image" height="32" src="images/logo.png" width="32"><div class="footer-link--text">Smedian Writers</div></a></li>
          </ul>
        </div>
        <div class="w-col w-col-4">
          <ul class="footer-links-list w-list-unstyled">
            <li class="footer-links-list-item"><a class="footer-link w-inline-block" style="color: #{{templateData.footerSection.textColor.replace('#','')}};" href="https://goo.gl/JPbqrz"><img class="footer-link--image" height="32" src="images/logo.png" width="32"><div class="footer-link--text">Smedian Chrome Extension</div></a></li>
            <li class="footer-links-list-item"><a class="footer-link w-inline-block" style="color: #{{templateData.footerSection.textColor.replace('#','')}};" href="http://smedian.com/pr/embeds"><img class="footer-link--image" height="32" src="images/logo.png" width="32"><div class="footer-link--text">Smedian Embeds</div></a></li>
            <li class="footer-links-list-item"><a class="footer-link w-inline-block" style="color: #{{templateData.footerSection.textColor.replace('#','')}};" href="http://smedian.com/tools"><img class="footer-link--image" height="32" src="images/logo.png" width="32"><div class="footer-link--text">Smedian Tools</div></a></li>
          </ul>
        </div>
        <div class="w-col w-col-4">
          <ul class="footer-links-list w-list-unstyled">
            <li class="footer-links-list-item" ng-repeat="footerLink in templateData.footerSection.links" >
              <a class="footer-link w-inline-block"
                ng-show="footerLink.url.split('.').length > 1 && footerLink.text.trim().length > 0"
                ng-href="//{{footerLink.url.replace('https://', '').replace('http://', '')}}">
                <img class="footer-link--image" height="32" ng-src="{{templateData.about.logoUrl}}" width="32">
                <div class="footer-link--text" style="color: #{{templateData.footerSection.textColor.replace('#','')}};">
                  {{footerLink.text}}
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
