<div ng-controller="SMPSChatController"
    style="padding: 0px 20px 20px 20px;
    margin-top: 0px;
    position: fixed;
    bottom: 10px;
    right: 25px;
    word-wrap: break-word; z-index: 499; width:auto; height:80%">

    <!--OPEN WINDOW BUTTON-->
    <a ng-show="false && currentMediumUser" class="link u-baseColor--link" style="bottom: 5px; right:0px; position: absolute;" 
        ng-click="openWindow()" title="Open SuperMeditor Live Chat" aria-label="Open SuperMeditor Live Chat" id="blog" data-collection-slug="blog">
        <img src="https://lcontacts.herokuapp.com/img/icon_sm_chat.png" style="width:32px; height:32px">
        <span ng-show="numUnseenMessages && numUnseenMessages > 0" style='position: absolute; top: 0px; right: 0px; 
            width: 13px; height:12px; border-radius: 100%;
            text-align: center;
            background-color: #e74c3c;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
            letter-spacing: 0; font-weight: 400; font-style: normal;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -moz-font-feature-settings: "liga" on; 
            color: white; font-size: 8px;
            line-height: 1.4;'>
                <span ng-show="numUnseenMessages < 10">
                    {{numUnseenMessages}}
                </span>
                <span ng-show="numUnseenMessages >= 10">
                    9+
                </span>
            </span>
    </a>
    <!--CLOSE WINDOW BUTTON-->
    <button id="SuperMeditor-CU-Chat-showThreadsButton" ng-click="closeWindow()"
        ng-show="windowIsOpen" style="position: fixed; bottom: 40px; right: 50px; z-index: 9999; margin-right:20px" 
        class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--withIconRight button--withIconAndLabel js-relationshipButton is-chromeless is-touched" data-action="show-more-collection-actions" >
        <span class="button-label  js-buttonLabel">Close</span>
    </button>

    <div ng-show="windowIsOpen" class="streamItem-card streamItem-card--inlineEditor streamItem-card--hPadding20 cardChromeless" 
    style="background: white; width:100%; height:100%">
        <table class="SuperMeditor-Medium-CU-Chat-Table" style="margin-top:10px; width:100%">
            <tr>
                <td>
                    <div class="row u-xs-paddingTop0">
                        <div class="col js-collectionCard">
                            <div class="row u-paddingTop10 u-paddingBottom15 u-borderBottomLightest">
                                <div class="col u-size2of12">
                                    <div class="u-width40 u-height40 u-xs-width32 u-xs-height32 u-xs-marginTop4">
                                        <a class="link u-baseColor--link" href="http://SuperMeditor.com" title="Go to 3 min read" aria-label="Go to 3 min read" id="blog" data-collection-slug="blog">
                                            <img src="https://lcontacts.herokuapp.com/img/icon_sm_chat.png" class="u-maxHeight40 u-xs-maxHeight32">
                                        </a>
                                    </div>
                                </div>
                                <div class="col u-size8of12 u-xs-size10of12 u-xs-paddingLeft20">
                                    <a class="link link--darken u-accentColor--textDarken u-baseColor--link" href="http://supermeditor.com/chat" title="Learn more about direct messaging." aria-label="Learn more about direct messaging." data-collection-slug="blog">
                                        <h3 class="u-fontSizeSmall">Direct Message</h3>
                                    </a>
                                    <div ng-if="currentThread" class="u-fontSizeSmallest u-textColorDark">
                                        <a class="link link link--darken link--darker link--accent is-touched" 
                                            href="//medium.com/@{{currentThread.user.username}}" 
                                            data-action="show-user-card" 
                                            data-action-source="post_header_lockup" 
                                            data-action-value="{{currentThread.user.userId}}" 
                                            data-action-type="hover" 
                                            data-user-id="{{currentThread.user.userId}}" dir="auto">
                                                {{currentThread.user.username}}
                                        </a><span ng-show="currentThread.typing"> is typing ...</span>
                                        <br>
                                        {{(currentThread.messages.length && currentThread.messages.length) 
                                        || currentThread.numMessages}} Messages
                                    </div>
                                    <div ng-if="threads && threads.length && !currentThread" class="u-fontSizeSmallest u-textColorDark">
                                        Open one of your {{threads.length}} threads to chat.
                                    </div>
                                    <div ng-if="(!threads || !threads.length) && !currentThread" class="u-fontSizeSmallest u-textColorDark">
                                        You don't have any messaging threads, yet.
                                        <br>
                                        Search users to start a messaging thread.
                                    </div>
                                </div>
                                <div style="float:left" class="col u-size12of12 u-xs-size10of12 u-textAlignLeft u-xs-textAlignLeft">
                                    <div class="buttonSet">
                                        <button id="SuperMeditor-CU-Chat-showThreadsButton" ng-click="showThreads()" class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--withIconRight button--withIconAndLabel js-relationshipButton is-chromeless is-touched" 
                                        title="Toggle threads list." aria-label="Toggle threads list.">
                                            <span class="button-label  js-buttonLabel">
                                                <span ng-if="showThreadsPopover" style="visibility: visible">Hide </span> 
                                                Threads
                                                <span class="svgIcon svgIcon--arrowDown svgIcon--21px">
                                                    <svg class="svgIcon-use" width="21" height="21" viewBox="0 0 21 21">
                                                        <path d="M4 7.331l6.032 6.67.495.547.495-.547 5.973-6.603-.989-.895-5.974 6.603h.99l-6.033-6.67z" fill-rule="evenodd">
                                                            </path>
                                                        </svg>
                                                </span>
                                                <span ng-if="!showThreadsPopover" style="visibility: hidden"> Hide</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div id="SuperMeditor-CU-Chat-showThreads" ng-show="showThreadsPopover" 
                                        class="popover js-popover popover--menu u-resetSpectrum popover--bottom is-active" 
                                        style="right: 0px; top: 30px; position: absolute; width:90%">
                                        <div class="popover-inner js-popover-inner">
                                            <div class="u-textAlignLeft u-fontSizeSmaller u-lineHeightBaseSans u-uiTextRegular">
                                                <ul class="list u-marginBottom0 list--choice">
                                                    <li class="list-item u-paddingTop5 u-paddingBottom5 u-paddingLeft20 u-paddingRight20">
                                                        <div class="popover-title u-marginLeft0 u-marginTop3 u-marginBottom10 u-fontSizeBase">
                                                            Your Threads
                                                        </div>
                                                        <div ng-if="threads && threads.length" class="popover-description u-marginBottom5">
                                                            Open one of your {{threads.length}} messaging threads or start a new one.
                                                        </div>
                                                        <div ng-if="!threads || !threads.length" class="popover-description u-marginBottom5">
                                                            You have no messaging threads. Start a new thread to begin.
                                                        </div>
                                                    </li>
                                                    <li style="overflow-y: auto; width:100%; height:200px">
                                                        <ul style="overflow-y: auto; width:100%; height:200px">
                                                            <li ng-repeat="thread in threads | reverse" class="list-item u-paddingTop5 u-paddingBottom5 u-paddingLeft20 u-paddingRight20">
                                                                <label class="label">
                                                                    <div style="margin-left:0px; margin-right:0px" 
                                                                        class="row u-paddingBottom10 u-xs-paddingTop0">
                                                                        <div class="col js-collectionCard">
                                                                            <div ng-class="{'u-borderBottomLightest': !$last}" class="row u-paddingTop10 u-paddingBottom15">
                                                                                <div class="col u-size1of12">
                                                                                    <div class="u-width40 u-height40 u-xs-width32 u-xs-height32 u-xs-marginTop4">
                                                                                        <input type="radio" class="checkbox"
                                                                                            ng-checked="currentThread && thread.user.userId == currentThread.user.userId"
                                                                                            ng-click="showThread(thread)">
                                                                                    </div>
                                                                                </div>
                                                                                <div class=" u-size9of12 u-xs-size10of12 u-xs-paddingLeft20">
                                                                                    <a style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
                                                                                        letter-spacing: 0; font-weight: 400; font-style: normal;
                                                                                        text-rendering: optimizeLegibility;
                                                                                        -webkit-font-smoothing: antialiased;
                                                                                        -moz-osx-font-smoothing: grayscale;
                                                                                        -moz-font-feature-settings: "liga" on; 
                                                                                        color: rgba(0,0,0,.8); font-size: 14px;
                                                                                        line-height: 1.4;'
                                                                                        class="link link link--darken link--darker u-baseColor--link is-touched" 
                                                                                        href="//medium.com/@{{thread.user.username}}" 
                                                                                        data-action="show-user-card" 
                                                                                        data-action-source="post_header_lockup" 
                                                                                        data-action-value="{{thread.user.userId}}" 
                                                                                        data-action-type="hover" 
                                                                                        data-user-id="{{thread.user.userId}}" dir="auto">
                                                                                            {{thread.user.username}}
                                                                                    </a>
                                                                                    <div class="u-fontSizeSmaller u-textColorDark">{{thread.numMessages}} Messages</div>
                                                                                </div>
                                                                                <div style="display:none" class="col u-size6of12 u-xs-size10of12 u-textAlignRight u-xs-textAlignLeft">
                                                                                    <div class="buttonSet">
                                                                                        <button id="SuperMeditor-CU-Chat-showThreadsButton" ng-click="" 
                                                                                            style="margin-right:20px"
                                                                                            class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--withIconRight button--withIconAndLabel js-relationshipButton is-chromeless is-touched" data-action="show-more-collection-actions" >
                                                                                            <span class="button-label  js-buttonLabel">Delete</span>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="list-item list-item--separator"></li>
                                                    <li class="list-item u-paddingTop0 u-paddingBottom0">
                                                        <a ng-click="toggleSearch(true)"
                                                            class="button button--dark button--chromeless u-baseColor--buttonDark u-fontSizeSmaller u-paddingTop5 u-paddingBottom5 u-paddingLeft20 u-paddingRight20 u-block">
                                                            Start New
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--<div class="popover-arrow" style="left: 255px;"></div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <ul style="height:100%">
                        <li style="overflow-y: auto; width:100%; height:300px">
                            <ul id="sm-cu-chat-currentThread-messages435423" style="overflow:scroll; margin: 0px 0px 10px 0px; height:300px">
                                <!--============CHAT MESSAGES=======-->
                                <li ng-if="windowIsOpen && currentThread && !searchOpen" ng-repeat="message in currentThread.messages" my-repeat-directive>
                                    <div style="margin-left:0px; margin-right:0px" 
                                        class="row u-paddingBottom10 u-xs-paddingTop0">
                                        <div class="col js-collectionCard">
                                            <div ng-class="{'u-borderBottomLightest': !$last}" class="row u-paddingTop10 u-paddingBottom15">
                                                <div class="col u-size1of12">
                                                    <div class="u-width40 u-height40 u-xs-width32 u-xs-height32 u-xs-marginTop4">
                                                        <a class="link u-baseColor--link" href="//medium.com/@{{message.user.username}}" title="Vist {{message.user.username}}" aria-label="Vist {{message.user.username}}">
                                                            <div class="inlineEditor-avatar u-paddingRight10" 
                                                                style="display:inline-block">
                                                                <div class="avatar u-inline">
                                                                    <img src="https://cdn-images-1.medium.com/fit/c/64/64/{{message.user.imageId}}" class="avatar-image u-size32x32 u-xs-size32x32" alt="{{message.user.username}}">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class=" u-size9of12 u-xs-size10of12 u-xs-paddingLeft20"
                                                    style="margin-left:20px">
                                                    <a style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
                                                        letter-spacing: 0; font-weight: 400; font-style: normal;
                                                        text-rendering: optimizeLegibility;
                                                        -webkit-font-smoothing: antialiased;
                                                        -moz-osx-font-smoothing: grayscale;
                                                        -moz-font-feature-settings: "liga" on; 
                                                        color: rgba(0,0,0,.8); font-size: 14px;
                                                        line-height: 1.4;'
                                                        class="link link link--darken link--darker u-baseColor--link is-touched" 
                                                        href="//medium.com/@{{message.user.username}}" 
                                                        data-action="show-user-card" 
                                                        data-action-source="post_header_lockup" 
                                                        data-action-value="{{message.user.userId}}" 
                                                        data-action-type="hover" 
                                                        data-user-id="{{message.user.userId}}" dir="auto">
                                                            {{message.user.username}}
                                                    </a>
                                                    <div class="u-fontSizeSmaller u-textColorDark">{{message.text}}</div>
                                                    
                                                    <div ng-if="message.uploadStatus">
                                                        <span style="color:#1abc9c; font-size:10px" ng-show="message.uploadStatus == 1">Sending ...</span>
                                                        <b style="color: #e74c3c; font-size:10px" ng-show="message.uploadStatus == 3">Not sent</b>
                                                    </div>
                                                </div>
                                                <div style="display:none" class="col u-size6of12 u-xs-size10of12 u-textAlignRight u-xs-textAlignLeft">
                                                    <div class="buttonSet">
                                                        <button id="SuperMeditor-CU-Chat-showThreadsButton" ng-click="" 
                                                            style="margin-right:20px"
                                                            class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--withIconRight button--withIconAndLabel js-relationshipButton is-chromeless is-touched" data-action="show-more-collection-actions" >
                                                            <span class="button-label  js-buttonLabel">Delete</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!--============USER SEARCH RESULTS=======-->
                                <li ng-if="windowIsOpen && searchOpen" ng-repeat="user in searchUserResults" my-repeat-directive>
                                    <div style="margin-left:0px; margin-right:0px" 
                                        class="row u-paddingBottom10 u-xs-paddingTop0">
                                        <div class="col js-collectionCard">
                                            <div ng-class="{'u-borderBottomLightest': !$last}" class="row u-paddingTop10 u-paddingBottom15">
                                                <div class="col u-size1of12">
                                                    <div class="u-width40 u-height40 u-xs-width32 u-xs-height32 u-xs-marginTop4">
                                                        <a class="link u-baseColor--link" href="//medium.com/@{{user.username}}" title="Vist {{user.username}}" aria-label="Vist {{user.username}}">
                                                            <div class="inlineEditor-avatar u-paddingRight10" 
                                                                style="display:inline-block">
                                                                <div class="avatar u-inline">
                                                                    <img src="https://cdn-images-1.medium.com/fit/c/64/64/{{user.imageId}}" class="avatar-image u-size32x32 u-xs-size32x32" alt="{{user.username}}">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class=" u-size9of12 u-xs-size10of12 u-xs-paddingLeft20"
                                                    style="margin-left:20px">
                                                    <a style='font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
                                                        letter-spacing: 0; font-weight: 400; font-style: normal;
                                                        text-rendering: optimizeLegibility;
                                                        -webkit-font-smoothing: antialiased;
                                                        -moz-osx-font-smoothing: grayscale;
                                                        -moz-font-feature-settings: "liga" on; 
                                                        color: rgba(0,0,0,.8); font-size: 14px;
                                                        line-height: 1.4;'
                                                        class="link link link--darken link--darker u-baseColor--link is-touched" 
                                                        href="//medium.com/@{{user.username}}" 
                                                        data-action="show-user-card" 
                                                        data-action-source="post_header_lockup" 
                                                        data-action-value="{{user.userId}}" 
                                                        data-action-type="hover" 
                                                        data-user-id="{{user.userId}}" dir="auto">
                                                            {{user.username}}
                                                    </a>
                                                    <div class="u-fontSizeSmaller u-textColorDark">
                                                        <button id="SuperMeditor-CU-Chat-showThreadsButton" 
                                                            ng-if="user.userId != currentMediumUser.userId"
                                                            ng-click="startNewThread(user)" 
                                                            style="margin-right:20px; font-size: 12px;"
                                                            class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon button--withIconRight button--withIconAndLabel js-relationshipButton is-chromeless is-touched" 
                                                            title="Start Direct Message" aria-label="Start Direct Message">
                                                            <span class="button-label js-buttonLabel">Direct Message</span>
                                                        </button>
                                                        <span ng-if="user.userId == currentMediumUser.userId">
                                                            You
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li style='border-top: 1px solid rgba(0,0,0,.05)!important;'>
                            <div style="margin: 0px 0px 10px 10px">
                                <textarea id="sm-cu-chat-input" rows="2" 
                                    placeholder="Say something ..."
                                    ng-if="currentThread && !searchOpen"
                                    ng-model="$parent.newMessageText" 
                                    class="postArticle-content graf--p" 
                                    style='margin-top: 10px; border: none; outline:none; width:98%; resize: none;--x-height-multiplier: 0.35;
                                    --baseline-multiplier: 0.179;
                                    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
                                    letter-spacing: 0; font-weight: 400; font-style: normal;
                                    text-rendering: optimizeLegibility;
                                    -webkit-font-smoothing: antialiased;
                                    -moz-osx-font-smoothing: grayscale;
                                    -moz-font-feature-settings: "liga" on; 
                                    color: rgba(0,0,0,.8); font-size: 14px;
                                    line-height: 1.4;
                                    height:35px'>
                                </textarea>
                                <input id="sm-cu-user-search-input" 
                                    placeholder="Search users ..."
                                    ng-show="searchOpen"
                                    ng-model="userSearchKeyword"
                                    class="postArticle-content graf--p" 
                                    style='margin-top: 10px; border: none; outline:none; width:98%; resize: none;--x-height-multiplier: 0.35;
                                    --baseline-multiplier: 0.179;
                                    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
                                    letter-spacing: 0; font-weight: 400; font-style: normal;
                                    text-rendering: optimizeLegibility;
                                    -webkit-font-smoothing: antialiased;
                                    -moz-osx-font-smoothing: grayscale;
                                    -moz-font-feature-settings: "liga" on; 
                                    color: rgba(0,0,0,.8); font-size: 14px;
                                    line-height: 1.4;
                                    height:50px'/>
                            </div>
                        </li>
                        <li style="position:fixed; bottom:25px">
                            <div style="margin: 10px 0px 15px 10px">
                                <div class="inlineEditor-avatar u-paddingRight10" 
                                    style="display:inline-block">
                                    <div class="avatar u-inline">
                                        <img src="{{currentMediumUser.gen.imageUrl}}" class="avatar-image u-size36x36 u-xs-size32x32" alt="{{currentMediumUser.name}}"></div>
                                </div>
                                <button ng-if="currentThread && !searchOpen" class="button button--withChrome u-baseColor--buttonNormal js-expandButton"
                                style="cursor: pointer !important"
                                ng-click="sendMessage()">
                                    Send
                                </button>
                                <button ng-if="searchOpen" class="button button--withChrome u-baseColor--buttonNormal js-expandButton"
                                style="cursor: pointer !important"
                                ng-click="runSearch()">
                                    Search
                                </button>
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>